<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/log-in.css" />
		<link rel="stylesheet" href="../css/header.css" />
        <link rel="stylesheet" href="../css/footer.css">
		<script src="../log-in.js"></script>
		<title>MegaRocket</title>
	</head>
	<body>
        <header>MegaR <img src="../../assets-images/LOGO-RR1.jpg" alt="logo">cket</header>
        <form action="">
            <div class="signContainer">
                
                <div class="cont1">
                    <h1 id="tit" >Sign In</h1>
                </div>
                
                <div class="cont2">
                    <div>
                        <img src="../../assets-images/send.png" alt="envelop">
                        <input class="" id="mail" type="text" placeholder="E-Mail">
                    </div>
                    <span class="span" id="invalid-mail">Invalid E-mail.</span>
                </div>
                
                <div class="cont3">
                    <div>
                        <img src="../../assets-images/lock.svg" alt="lock">
                        <input id="pass" type="password" placeholder="Password">
                    </div>
                    <span class="span" id="invalid-value">Invalid Password.</span>
                    <p>Have you forgotten the password?</p>
                </div>
                
                <div class="cont4">
                    <div class="remtick">
                        <img src="../../assets-images/On.png" alt="confirmation logo">
                        <p>Remember me</p>
                    </div>
                    <h2>Don't have an account?</h2>
                    <h3>Click here to become a member</h3>
                </div>
                <button id="button" ><a href="/Week-06/views/sign-up.html">Continue</a></button>
            </div>
        </form>
        <footer>
            <p><em>Copyright © 2023 MegaRocket SA. All rights reserved.</em></p>
            <div class="foot-icon">
              <img id="logo-in" src="../../assets-images/in.png" alt="INLogo">
              <img id="logo-facebook" src="../../assets-images/face.png" alt="Logo Facebook">
              <img id="logo-ig" src="../../assets-images/in.png" alt="Logo Instagram">
            </div>
          </footer>
    </main>
    
</body>
</html>