<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/sign-up.css" />
		<link rel="stylesheet" href="../css/footer.css" />
		<link rel="stylesheet" href="../css/header.css" />
		<script src="../js/sign-up.js"></script>
		<title>MegaRocket</title>
	</head>
	<body>
		<header>
			MegaR<img
				id="Logo"
				src="../../assets-images/LOGO-RR1.jpg"
				alt="Logo"
			/>cket
		</header>
		<main>
			<div class="regContainer">
				<div class="bar">
					<img src="" alt="" />
					<h1>Register</h1>
					<div class="imgBox">
						<img src="" alt="" />
					</div>
				</div>
				<div class="data">
					<div class="col1">
						<label for="">Name</label>
						<input id="nameImp" type="text" />
						<span></span>
						<label for="">Last Name</label>
						<input id="lastName" type="text" />
						<span></span>
						<label for="">DNI</label>
						<input id="dni" type="text" />
						<span></span>
						<label for="">Birth Date</label>
						<input type="date" />
						<span></span>
						<label for="">Phone Number</label>
						<input id="phone" type="text" />
						<span></span>
						<label for="">Address</label>
						<input id="dir" type="text" />
						<span></span>
					</div>
					<div class="col2">
						<label for="">Location</label>
						<input id="local" type="text" />
						<span></span>
						<label for="">Postal Code</label>
						<input id="pCode" type="text" />
						<span></span>
						<label for="">E-mail</label>
						<input id="mailSign" type="text" />
						<span></span>
						<label for="">Password</label>
						<input id="passSign" type="password" />
						<span></span>
						<label for="">Repeat Password</label>
						<input id="passValidate" type="password" />
						<span></span>
					</div>
				</div>
				<button>Continue</button>
			</div>
			<footer>
				<p><em>Copyright © 2023 MegaRocket SA. All rights reserved.</em></p>
				<div class="foot-icon">
					<img id="logo-in" src="../../assets-images/in.png" alt="INLogo" />
					<img
						id="logo-facebook"
						src="../../assets-images/face.png"
						alt="Logo Facebook"
					/>
					<img
						id="logo-ig"
						src="../../assets-images/ig.png"
						alt="Logo Instagram"
					/>
				</div>
			</footer>
		</main>
	</body>
</html>
